---
import { GradientBackground } from '@components';
import Layout from '@layouts/Layout.astro';
import Contact from '@pages/_Sections/Contact/Contact.astro';
import BasicInfo from '@pages/about-me/_Sections/BasicInfo/BasicInfo.astro';
import Hobbies from '@pages/about-me/_Sections/Hobies/Hobbies.astro';
import Testimonials from '@pages/about-me/_Sections/Testimonials/Testimonials.astro';
import Tools from '@pages/about-me/_Sections/Tools/Tools.astro';
import { GradientColor } from '../components/GradientBackground/GradientBackground.astro';
---

<Layout title="Sobre mí • Ana Rangel">
  <main>
    <GradientBackground color={GradientColor.purple} />
    <BasicInfo />
    <Tools />
    <Hobbies />

    <Testimonials />
    <Contact />
  </main>
</Layout>

<style>
  main {
    padding-block-start: 4rem;
  }
</style>
