---
import { CardWrapper, Tooltip } from '@components';
---

<section>
  <div class="container">
    <p class="intro-text">
      No sólo tengo experiencia en empresas, me gusta contribuir en comunidades y compartir
      conocimiento
    </p>

    <div class="wrapper">
      <div class="grid-item" data-type="studies">
        <CardWrapper hasBorder class="card">
          <p class="card__title">Estudios</p>
          <p class="card__description">
            Graduada en Publicidad y mercadeo, cursos de UX/UI, manejo de inteligencia artificial, y
            programación
          </p>
          <img
            class="gif"
            src="/img/emoji.webp"
            alt="Emoji"
            decoding="async"
            fetchpriority="high"
            width="100"
          />
        </CardWrapper>

        <CardWrapper hasBorder class="card grid-item" data-type="speaker">
          <p class="card__title">Charlista</p>
          <p class="card__description">
            He tenido el privilegio de compartir mis conocimientos en talleres y charlas sobre
            trabajo en equipo y UX. Me apasiona conectar con la audiencia y fomentar el aprendizaje
            colaborativo
          </p>
          <div class="flex-group">
            <Tooltip message="Nerdearla"
              ><img src="/img/nerdearla-logo.png" alt="Nerdearla" /></Tooltip
            >
            <Tooltip message="JavaScript Chile"
              ><img src="/img/cl-js.png" alt="Javascript Chile" /></Tooltip
            >
            <Tooltip message="Spark Code"
              ><img src="/img/spark-code-logo.png" alt="Spark Code" /></Tooltip
            >
            <Tooltip message="Desafio Latam"
              ><img src="/img/desafio-latam.png" alt="Desafio Latam" /></Tooltip
            >
            <Tooltip message="4 Geeks academy"
              ><img src="/img/4geeks.png" alt="4 Geeks academy" /></Tooltip
            >
            <Tooltip message="UX Show"><img src="/img/uxshow.png" alt="UX Show" /></Tooltip>
          </div>
        </CardWrapper>
      </div>

      <CardWrapper hasBorder class="card grid-item" data-type="content-creator">
        <div class="flow">
          <p class="card__title">Creación de contenido</p>
          <p class="card__description">
            Desde 2022 he credo de contenido, quiero guiar a otros diseñadores y desarrolladores a
            través de mis redes sociales. Busco dar tips que sirvan para potenciar su trabajo y su
            creatividad
          </p>
        </div>
        <picture class="portrait-img">
          <source srcset="/img/ana-1.avif" type="image/avif" />
          <source srcset="/img/ana-1.webp" type="image/webp" />
          <img src="/img/ana-1.webp" alt="Ana" decoding="async" fetchpriority="high" />
        </picture>
      </CardWrapper>

      <div class="grid-item" data-type="soft-skills">
        <CardWrapper hasBorder class="card">
          <p class="card__title">Habilidades blandas</p>
          <div class="skills | grid-auto-fit">
            <div class="flow">
              <p>Comunicación</p>
              <div class="line" data-variant="primary"></div>
              <div class="line"></div>
            </div>
            <div class="flow">
              <p>Adaptabilidad</p>
              <div class="line" data-variant="secondary"></div>
              <div class="line"></div>
            </div>
            <div class="flow">
              <p>Autonomía</p>
              <div class="line" data-variant="tertiary"></div>
              <div class="line"></div>
            </div>
            <div class="flow">
              <p>Trabajo en equipo</p>
              <div class="line" data-variant="primary"></div>
              <div class="line"></div>
            </div>
            <div class="flow">
              <p>Manejo del estrés</p>
              <div class="line" data-variant="secondary"></div>
              <div class="line"></div>
            </div>
            <div class="flow">
              <p>Pensamiento crítico</p>
              <div class="line" data-variant="tertiary"></div>
              <div class="line"></div>
            </div>
          </div>
        </CardWrapper>

        <CardWrapper hasBorder class="card">
          <p class="card__title">Mentora</p>
          <p class="card__description">
            Como mentora, estoy aquí para guiar a otros cuando buscan apoyo o consultoría, cuentan
            conmigo para potenciar tus habilidades y alcanzar tus metas
          </p>
          <div class="flex-group">
            <img src="/img/emoji-invider.png" alt="Juego" />
            <img src="/img/emoji-wolf.png" alt="Lobo" />
            <img src="/img/emoji-punio.png" alt="Puño" />
          </div>
        </CardWrapper>
      </div>
    </div>
  </div>
</section>

<style>
  .grid-item {
    display: grid;
    gap: 2.25rem;
  }

  .wrapper {
    display: grid;
    gap: 2.25rem;
  }

  .intro-text {
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 2.7188rem;
    text-align: center;
    margin: 7.5rem 0 3.75rem 0;
    text-wrap: balance;
  }

  .card {
    background-color: hsl(240, 4%, 5%);
    border-radius: 1.5rem;
    padding: 3.5rem 2.25rem 2.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.4375rem;
    block-size: 100%;
  }

  .card__title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem;
    color: white;
  }

  .card__description {
    line-height: 1.5rem;
    color: hsl(236, 25%, 75%);
  }

  /* flex-group can be a global class */
  .flex-group {
    display: flex;
    gap: 1rem;

    img {
      width: 100%;
      max-inline-size: 3.5rem;
    }
  }

  .grid-item[data-type='content-creator'] {
    --flow-spacer: 1.4375rem;
    justify-content: space-between;
    .card {
      display: grid;
      gap: 1rem;
    }

    img {
      border-radius: 1.5rem;
      inline-size: 100%;
      max-block-size: 35rem;
      object-fit: cover;
      object-position: 20% 10%;

      @media (width >= 1200px) {
        max-block-size: 26.0625rem;
      }
    }
  }

  .skills {
    --min-item-width: 10rem;

    column-gap: 0.9375rem;
    row-gap: 2.25rem;
    div {
      --flow-spacer: 0.5rem;
    }
    p {
      font-size: 1.125rem;
      font-weight: 600;
      max-width: 8.125rem;
    }

    @media (width >= 900px) {
      --min-item-width: 8rem;
    }
  }

  .line {
    inline-size: 100%;
    max-inline-size: 3.125rem;
    height: 0.385rem;
    border-radius: 1.25rem;
    background: hsl(236, 15%, 38%);
  }

  .line[data-variant] {
    max-inline-size: 7.988125rem;
  }
  .line[data-variant='primary'] {
    background: linear-gradient(90deg, #30b7ca 0%, #21d49b 100.01%);
  }

  .line[data-variant='secondary'] {
    background: linear-gradient(270deg, #f880d6 -0.7%, #966bf9 100.39%);
  }

  .line[data-variant='tertiary'] {
    background: linear-gradient(107.73deg, #ffc16f 0%, #fa86ce 100.25%);
  }

  @media (width >= 900px) {
    .grid-item[data-type='studies'] {
      inline-size: 100%;
      display: flex;
      gap: 2.25rem;
      justify-content: center;

      article:first-child {
        max-inline-size: 22.125rem;
      }
      article:nth-child(2) {
        width: 100%;
        max-width: 29.4375rem;
      }
    }

    .grid-item[data-type='content-creator'] {
      grid-row: 2 / 3;
      inline-size: 100%;
      max-inline-size: 53.125rem;
      margin-inline: auto;
    }

    .grid-item[data-type='soft-skills'] {
      inline-size: 100%;
      display: flex;
      gap: 2.25rem;
      grid-row: 3 / 4;
      justify-content: center;
      article:first-child {
        width: 100%;
        max-width: 31.5625rem;
      }

      article:nth-child(2) {
        width: 100%;
        max-width: 20rem;
      }
    }
  }
  @media (width >= 1200px) {
    .wrapper {
      grid-template-columns: 1fr 25rem;
    }

    .grid-item[data-type='content-creator'] {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      max-inline-size: 25rem;
    }

    .grid-item[data-type='soft-skills'] {
      grid-row: 2 / 3;
    }
  }
</style>
