---
import { CardWrapper } from '@components';
---

<section class="context">
  <div class="container flow">
    <!-- Section Title: Context -->
    <h2 class="title">Contexto</h2>

    <!-- Section Description: Explanation of the problem and solution -->
    <p class="description">
      Ya que había dos realidades, se encontró que uno de los problemas principales era la
      comunicación entre el área que diseña y envía el planograma con la tienda quienes son los que
      implementan, para que hubiera concientización de ambas partes se decidió realizar un workshop
      donde se pudieran testear wireframes ya previamente diseñados, y verificar cuáles eran los
      mayores puntos de dolor de los usuarios
    </p>

    <!-- Section Image: Illustrating the context -->
    <img
      src="/img/rangel-iphone.png"
      alt="Ana Rangel conduciendo un taller con wireframes de planogramas exhibidos en la pared"
      class="section-image"
    />

    <!-- Subsection Title: Workshop -->
    <h3 class="sub-section__title">Workshop</h3>

    <!-- Cards Container: Objectives of the workshop -->
    <div class="card-container | grid-auto-fit">
      <!-- Card 1: Objective 1 -->
      <CardWrapper class="card" hasBorder>
        <h2 class="card__title">Objetivo 1</h2>
        <p class="card__description">
          Detectar cuáles son los principales dolores a la hora de publicar e implementar
          planogramas
        </p>
      </CardWrapper>

      <!-- Card 2: Objective 2 -->
      <CardWrapper class="card" hasBorder>
        <h2 class="card__title">Objetivo 2</h2>
        <p class="card__description">
          Validar si la solución que se generó en wireframes previamente solventa los dolores
          principales de los usuarios
        </p>
      </CardWrapper>

      <!-- Card 3: Objective 3 -->
      <CardWrapper class="card" hasBorder>
        <h2 class="card__title">Objetivo 3</h2>
        <p class="card__description">
          Obtener insights de los usuarios para asi ver que otras mejoras se pueden añadir para un
          primer MVP y para futuras versiones
        </p>
      </CardWrapper>
    </div>
  </div>
</section>

<style>
  .context .container {
    --flow-spacer: 1.5rem;

    padding-block-start: 3rem;
    padding-inline: 2rem;
  }

  .title {
    font-size: 2.25rem;
    font-weight: 500;
    text-align: center;
  }

  .description {
    color: hsl(236, 25%, 75%);
    text-align: center;
    line-height: 1.2;
  }

  .section-image {
    inline-size: 100%;
    max-inline-size: 40rem;
    margin-inline: auto;
  }

  .sub-section__title {
    font-size: 2.25rem;
    font-weight: 500;
    text-align: center;
    margin-block: 4.5rem;
  }

  .card-container {
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    inline-size: 100%;
  }
  .card {
    display: grid;
    gap: 1.5rem;
    background-color: hsla(240, 4%, 5%, 1);
    padding: 1.5rem;
    max-inline-size: 25rem;
    inline-size: 100%;
    margin-inline: auto;
    block-size: 100%;
  }

  .card__title {
    font-size: 1.25rem;
  }

  .card__description {
    line-height: 1.5;
    max-inline-size: 25ch;
    color: hsla(236, 25%, 75%, 1);
  }

  @media (min-width: 48em) {
    .context .container {
      padding-block-start: 8rem;
    }
    .title {
      font-size: 4rem;
      line-height: 1.2;
    }

    .description {
      font-size: 1.25rem;
      max-inline-size: 81ch;
      margin-inline: auto;
    }

    .card {
      padding-block-start: 3.5rem;
    }

    .card__title {
      font-size: 2rem;
    }

    .card__description {
      max-inline-size: none;
    }
  }
</style>
