<section>
  <div class="container | flow">
    <img src="/assets/images/design-section-1.png" alt="" />
    <div class="text-container">
      <h2>Diseños</h2>
      <p>
        Se logró digitalizar todo el proceso de envío de planogramas, implementación y notificación
        de que la tarea fue realizada por las tiendas, fue un flujo bastante denso y desafiante que
        había que considerar tambien los dispositivos en los que cada usuario debía acceder, que
        fuera rápido e intuitivo
      </p>
    </div>
    <img src="/assets/images/design-section-2.png" alt="" />
  </div>
</section>

<style>
  section .container {
    --flow-spacer: 3rem;
    padding-block-start: 4rem;
    padding-inline: 2rem;
  }
  .text-container {
    display: grid;
    gap: 1.5rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3;
    text-align: center;
  }

  img {
    width: 100%;
    max-inline-size: 57.125rem;
    margin-inline: auto;
  }
  p {
    text-align: center;
    line-height: 1.5;
    color: hsla(236, 25%, 75%, 1);
    max-inline-size: 78ch;
    margin-inline: auto;
  }

  @media (min-width: 48em) {
    section .container {
      --flow-spacer: 4rem;
    }
  }
</style>
