---
import { CardWrapper } from '@components';
import { t } from 'i18n:astro';
---

<section class="hero">
  <div class="container">
    <img src="/svg/cencosud_logo.svg" alt="Cencosud logo" class="main-logo" />
    <h1 class="title">{t('planogram_hero_title')}</h1>
    <p class="description">{t('planogram_hero_desc')}</p>
    <div class="cards-container | grid-auto-fit">
      <CardWrapper class="card" hasBorder>
        <h2 class="card__title">{t('projects_hero_methodology_title')}</h2>
        <p class="card__subtitle">Design thinking</p>
      </CardWrapper>
      <CardWrapper class="card" hasBorder>
        <h2 class="card__title">{t('projects_hero_time_title')}</h2>
        <p class="card__subtitle">{t('planogram_hero_time_desc')}</p>
      </CardWrapper>
      <CardWrapper class="card" hasBorder>
        <h2 class="card__title">{t('projects_hero_device_title')}</h2>
        <p class="card__subtitle">{t('planogram_hero_device_desc')}</p>
      </CardWrapper>
    </div>
  </div>
</section>

<style>
  .hero .container {
    padding-block-start: 2rem;
    display: grid;
    gap: 1.5rem;
    place-items: center;
    padding-inline: 2rem;
  }

  .main-logo {
    inline-size: 100%;
    max-inline-size: 11.875rem;
  }

  .title {
    font-size: var(--font-size-fluid-3);
    line-height: 1.4;
    font-weight: 500;
  }

  .description {
    color: hsl(236, 25%, 75%);
    text-align: center;
    line-height: 1.5;
  }
  .cards-container {
    --min-item-width: 22rem;

    margin-block-start: 3rem;
    inline-size: 100%;
    justify-items: center;
  }

  .card {
    display: grid;
    gap: 1rem;
    background-color: hsla(240, 4%, 5%, 1);
    padding: 1.5rem;
    max-inline-size: 25.625rem;
    inline-size: 100%;
  }

  .card__title {
    font-size: 1.25rem;
    font-weight: 400;
  }

  .card__subtitle {
    font-size: 1.5rem;
    font-weight: 700;
  }

  @media (min-width: 48em) {
    .hero .container {
      padding-block-start: 8rem;
    }

    .description {
      font-size: 1.25rem;
      max-inline-size: 78ch;
    }

    .card {
      padding: 3rem;
    }

    .card__title {
      font-size: 2rem;
    }

    .card__subtitle {
      font-size: 2.25rem;
      white-space: nowrap;
    }
  }
</style>
