---
import { Icon, IconCatalog, IconSize } from '@components';
---

<section>
  <div class="container">
    <div class="card-container">
      <img src="/svg/logo-ripley.svg" alt="" />
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </div>
    <div class="card-container-project">
      <div class="content-title">
        <p class="company-card-tittle">Lorem ipsum dolor sit amet consectetur.</p>
        <Icon icon={IconCatalog.arrowRight} size={IconSize['4xl']} />
      </div>
      <img class="img-margin-logo" src="/svg/img-ripley.svg" alt="" />
    </div>
  </div>
</section>

<style>
  .container {
    display: flex;
    justify-content: space-evenly;

    inline-size: 100%;
    max-inline-size: 85rem;
    margin-inline: auto;
  }

  .card-container {
    align-self: stretch;
    justify-content: space-between;
    padding: 3rem;
    border: 1px solid hsl(0deg 0% 16%);
    border-radius: 1.5rem;

    background: hsl(240deg 4% 5%);
  }

  .card-container-project {
    padding-block: 3rem 0;
    padding-inline: 3rem;

    border: 1px solid hsl(0deg 0% 16%);
    border-radius: 1.5rem;

    background: linear-gradient(127deg, rgb(46 88 255 / 30%) 5.98%, rgb(148 82 255 / 30%) 90.92%);
  }

  .content-title {
    display: flex;
  }

  .company-card-tittle {
    color: hsl(0deg 0% 100%);
    font-weight: 600;
    font-size: 2.25rem;

    line-height: 100%; /* 36px */
    text-shadow: 0 0 0.8125rem rgb(255 255 255 / 25%);
  }

  .img-margin-logo {
    margin-inline-start: auto;

    margin-block-start: auto;
  }
</style>
