.container {
  inline-size: 100%;
  margin-inline: auto;

}

@media (--sm-n-above) {
  .container {
    max-inline-size:40em;
    margin-inline: auto;
  }
}

@media (--md-n-above) {
  .container {
    max-inline-size: 48em;
  }
}

@media (--lg-n-above) {
  .container {
		max-inline-size: 81rem;
  }
}
