.container {
  box-sizing: border-box;
  inline-size: 100%;
  margin-inline: auto;
  padding-inline: var(--container-padding, 1rem);

}

/* Responsive breakpoints */
@media (--sm-n-above) {
  .container {
    max-inline-size:40em;
		padding-inline: 1rem;
    margin-inline: auto;
  }
}

@media (--md-n-above) {
  .container {
    max-inline-size: 48em;
  }
}

@media (--lg-n-above) {
  .container {
		max-inline-size: 81rem;
  }
}
