---
import { CardWrapper } from '@components';
---

<div class="container">
  <h2 class="section-title">Análisis final</h2>

  <div class="grid-auto-fit">
    <CardWrapper class="card | flow">
      <h2 class="card-title">1</h2>
      <p class="card-description">
        La competencia mantiene al menos dos capas de información, la primera con un historial de
        los DAPs en cards con la información mínima necesaria y la segunda capa con el detalle
      </p>
    </CardWrapper>
    <CardWrapper class="card | flow">
      <h2 class="card-title">2</h2>
      <p class="card-description">
        Se integró recientemente cuenta corriente como opción de origen de la inversión a realizar.
        Antes sólo un cliente con cuenta vista podía realizar un depósito a plazo.
      </p>
    </CardWrapper>
    <CardWrapper class="card | flow">
      <h2 class="card-title">3</h2>
      <p class="card-description">
        Se le notifica al usuario por correo electrónico cuando se hace la renovación automática y
        se envía un documento detallado con las condiciones de la renovación
      </p>
    </CardWrapper>
    <CardWrapper class="card | flow">
      <h2 class="card-title">4</h2>
      <p class="card-description">
        Se le notifica al usuario por correo electrónico cuando se hace la renovación automática y
        se envía un documento detallado con las condiciones de la renovación
      </p>
    </CardWrapper>
  </div>
</div>

<style>
  .container {
    padding-block-start: 2rem;
    display: grid;
    gap: 1.5rem;
    place-items: center;
    padding-inline: 2rem;
  }

  .section-title {
    margin-block: 2rem;
    font-size: 3rem;
    font-weight: 500;
  }

  .grid-auto-fit {
    --min-item-width: 15rem;
  }

  .card {
    --flow-spacer: 1.4375rem;
    width: 100%;
    background-color: hsl(240, 4%, 5%);
    padding: 3.5rem 1.5rem 2.25rem 1.5rem;
    margin-inline: auto;
  }

  .card-title {
    font-size: 3rem;
    font-weight: 500;
  }

  .card-description {
    color: hsl(236, 25%, 75%);
    list-height: 1.5rem;
  }

  @media (min-width: 48em) {
    .section-title {
      font-size: 64px;
    }
  }
</style>
