---
import { Button, IconCatalog } from '@components';
---

<Button invert id="download-cv-button" afterIcon={IconCatalog.arrowDownTray}> Descargar CV </Button>

<script>
  import './DownloadCvScript';
</script>
