<header class="nav-container">
  <!-- TODO: Move the svg to component -->
  <svg
    class="logo"
    height="25"
    width="35"
    viewBox="0 0 35 25"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M6.52155 8.91282C6.38265 8.79585 6.26568 8.65695 6.19258 8.49611C6.11216 8.19638 6.14871 7.90395 6.24375 7.61153C6.40458 7.14365 6.67508 6.73425 6.93095 6.31023C7.20876 5.85697 7.54504 5.45489 7.88133 5.06011C8.56122 4.25594 9.35077 3.56875 10.1842 2.92541C11.0907 2.2309 12.0484 1.63143 13.1523 1.30976C13.7445 1.1343 14.3512 1.0612 14.958 1.18548C16.1131 1.41942 16.8515 2.51601 16.6907 3.75882C16.5591 4.80424 16.1643 5.76925 15.7841 6.74156C15.3747 7.79429 14.9215 8.8324 14.4682 9.8632C14.4609 9.87783 14.439 9.89976 14.4463 9.90707C14.4609 9.93631 14.4902 9.929 14.5121 9.91438C14.9361 9.7901 15.3528 9.65851 15.7768 9.53423C15.8792 9.50498 15.9815 9.47574 16.0839 9.45381C16.5591 9.32953 17.0269 9.32953 17.3925 9.71699C17.7726 10.1191 17.7799 10.6089 17.6483 11.106C17.5972 11.3034 17.3998 11.742 17.4217 11.7859C17.4436 11.7713 17.4729 11.7493 17.4948 11.7347C18.204 11.106 18.9277 10.5065 19.7904 10.0825C20.0243 9.96555 20.2582 9.87051 20.5068 9.81203C21.2598 9.63657 21.9031 10.1264 21.9324 10.894C21.947 11.2815 21.83 11.6397 21.6838 11.9979C21.289 12.9264 20.7627 13.7817 20.3021 14.6736C20.1998 14.8783 20.1047 15.0903 20.0097 15.295C19.6003 16.0626 19.264 16.8595 19.1105 17.7148C19.0739 17.9341 19.0666 18.1608 19.0081 18.3655C18.8765 18.8187 18.416 18.9796 18.0212 18.7237C17.7288 18.5336 17.5826 18.2485 17.5168 17.9122C17.3925 17.2762 17.4948 16.6621 17.6995 16.0553C18.1308 14.7833 18.8254 13.6428 19.4906 12.4877C19.7099 12.1003 19.9366 11.7201 20.1559 11.3326C19.7757 11.4569 19.4833 11.6762 19.2128 11.9248C17.3998 13.5843 15.9523 15.5289 14.7972 17.6929C14.6729 17.9268 14.5633 18.1681 14.3732 18.3655C14.0442 18.7091 13.5909 18.6945 13.2839 18.3362C13.0792 18.095 13.0134 17.8099 13.028 17.4955C13.05 16.9911 13.2254 16.5305 13.3936 16.0626C13.9565 14.5566 14.7533 13.1749 15.5283 11.7713C15.711 11.4423 15.8719 11.0987 16.0692 10.7259C15.3089 10.8721 14.5998 11.011 13.9199 11.2668C13.7956 11.3107 13.7445 11.4057 13.686 11.5081C13.5032 11.8736 13.3204 12.2319 13.1377 12.5974C12.2092 14.4981 11.2588 16.3843 10.25 18.2412C10.1842 18.3655 10.1915 18.4386 10.2865 18.5336C10.557 18.7895 10.8202 19.0527 11.0907 19.3085C12.7648 20.895 14.7387 21.6406 17.0562 21.5017C18.7523 21.3921 20.3971 21.0412 22.0201 20.5733C23.782 20.0689 25.4634 19.3524 27.1083 18.5556C27.2911 18.4678 27.3276 18.402 27.1741 18.2412C26.9475 17.9999 26.8378 17.7002 26.8159 17.3785C26.7793 16.9033 26.8524 16.4428 26.984 15.9895C27.0352 15.8068 27.101 15.624 27.1595 15.4339C26.6989 15.7848 26.2822 16.1723 25.8582 16.5378C25.3464 16.9911 24.7982 17.4005 24.1329 17.5979C23.2337 17.8684 22.4076 17.4736 22.0713 16.5963C21.8154 15.9457 21.8593 15.2804 22.0128 14.6151C22.064 14.542 22.1371 14.2496 22.159 14.1911C23.0509 12.188 24.4984 10.682 26.3699 9.50498C25.9679 9.38801 25.6023 9.24911 25.2368 9.09559C24.3888 8.74468 23.6138 8.31335 23.0802 7.53111C23.007 7.42145 22.9339 7.44338 22.8316 7.48725C22.5684 7.60422 22.2979 7.7285 22.0055 7.77236C21.8958 7.79429 21.7789 7.8016 21.6619 7.8016C21.3622 7.79429 21.1575 7.64077 21.0917 7.37759C21.0259 7.12903 21.1282 6.88777 21.3987 6.74156C21.7204 6.57342 22.0494 6.41989 22.371 6.26637C22.4807 6.2152 22.5538 6.1494 22.5465 6.0105C22.5319 4.95045 22.8974 3.99276 23.4603 3.11549C24.1475 2.04082 25.0467 1.2001 26.2457 0.710285C26.7574 0.505587 27.2911 0.43248 27.8321 0.571382C28.7459 0.805323 29.2284 1.63874 28.9871 2.55257C28.8556 3.04969 28.5924 3.47371 28.2634 3.86848C27.313 5.01625 26.0921 5.82773 24.8274 6.58804C24.6958 6.66846 24.5642 6.73425 24.4399 6.81467C24.0598 7.04861 24.111 6.99012 24.3888 7.28986C24.7689 7.69925 25.2807 7.91858 25.7924 8.11596C26.5966 8.4157 27.4373 8.59846 28.2853 8.73006C28.5266 8.76661 28.7824 8.73005 29.0237 8.75199C30.3177 8.87627 30.9903 9.75354 30.8075 11.0402C30.6759 11.9394 30.3323 12.7582 29.9448 13.5624C29.5501 14.3812 29.126 15.1853 28.7751 16.0261C28.5704 16.5159 28.4388 17.013 28.49 17.5467C28.5046 17.7148 28.5558 17.7441 28.702 17.6563C30.2226 16.7352 31.7067 15.7775 32.8252 14.3592C33.1688 13.9206 33.4613 13.4527 33.5709 12.8825C33.7025 12.2026 33.4832 11.7055 32.8837 11.3619C32.7083 11.2595 32.5182 11.1864 32.372 11.0329C32.2184 10.8648 32.138 10.6747 32.2404 10.4554C32.35 10.2287 32.5547 10.1483 32.7887 10.1629C32.9788 10.1776 33.1469 10.236 33.315 10.3311C34.5505 10.9964 35.0404 12.2611 34.6236 13.6867C34.3458 14.6444 33.7318 15.3827 33.0811 16.0992C32.3208 16.9399 31.3997 17.5832 30.4785 18.2266C30.4493 18.2485 30.42 18.2704 30.3908 18.2924C28.5558 19.4913 26.5746 20.4051 24.5277 21.1801C23.1167 21.7137 21.6619 22.1231 20.1851 22.4448C20.134 22.4594 20.0828 22.4667 20.0389 22.4814C19.8708 22.4594 19.7246 22.5618 19.5637 22.5837C18.7596 22.7007 17.9481 22.7738 17.1366 22.825C14.534 22.9858 12.2823 22.1597 10.3523 20.4198C10.1038 20.1931 9.8479 19.9665 9.62127 19.7253C9.48236 19.5717 9.40926 19.6083 9.30691 19.7545C8.6124 20.7341 7.82285 21.626 6.98944 22.4814C6.19258 23.2928 5.29337 23.9435 4.20408 24.309C3.83855 24.4333 3.44378 24.4552 3.05631 24.4918C2.7054 24.521 2.3618 24.4699 2.04013 24.3748C1.82812 24.309 1.60881 24.1555 1.40411 24.0166C0.74615 23.5633 0.461035 22.8981 0.329444 22.1451C0.17592 21.2386 0.358687 20.3832 0.702287 19.5498C0.848499 19.1843 1.00202 18.8187 1.21403 18.5044C2.02551 17.2908 2.93934 16.1577 3.97014 15.1196C4.22601 14.8637 4.48189 14.6005 4.73045 14.3446C4.78893 14.2861 4.86204 14.2423 4.767 14.1326C4.11635 13.4089 3.50226 12.6486 2.63961 12.1514C2.10593 11.8444 1.52839 11.6616 0.899674 11.6397C0.804635 11.6397 0.702286 11.6324 0.607248 11.6178C0.292891 11.5666 0.0808821 11.3692 0.0589502 11.0987C0.0297076 10.8428 0.190541 10.5943 0.468345 10.4773C0.848498 10.3238 1.25058 10.353 1.64536 10.4042C1.71846 10.4115 2.52995 10.6381 2.86624 10.7478C2.88817 10.7917 2.92472 10.799 2.96858 10.799C3.4584 11.0841 3.91166 11.4204 4.3503 11.7786C4.35761 11.7932 4.36492 11.8005 4.37954 11.8078C4.4234 11.8444 4.46727 11.8883 4.51113 11.9248C4.54768 11.9906 4.59886 12.0418 4.67196 12.071C4.88397 12.283 5.08867 12.5023 5.30068 12.7144C5.36647 12.7875 5.43958 12.8606 5.50538 12.9264C5.57848 13.0214 5.6589 13.1164 5.73201 13.2188C5.81242 13.3358 5.85629 13.2553 5.90746 13.1895C5.98057 13.1311 6.04636 13.0726 6.11947 13.0068C6.2072 12.9629 6.2803 12.8971 6.33879 12.8167C6.56542 12.6266 6.79205 12.4292 7.02599 12.2392C7.73512 11.6689 8.43694 11.0914 9.15339 10.5212C10.8275 9.18331 12.4359 7.77236 13.8249 6.12747C14.4536 5.38178 14.9946 4.5703 15.192 3.59068C15.3455 2.80113 15.0384 2.44291 14.2343 2.48677C14.11 2.49408 13.9857 2.51601 13.8687 2.53794C13.2766 2.66954 12.7356 2.94003 12.2312 3.26901C10.2207 4.59954 8.56122 6.25906 7.50849 8.45956C7.28917 8.95668 7.02599 9.05903 6.52155 8.91282ZM12.9184 9.05172C12.7941 8.97131 12.7429 9.09559 12.6844 9.15407C12.1581 9.63657 11.639 10.1337 11.1199 10.6235C11.0761 10.6674 11.0103 10.6966 11.0103 10.777C11.332 10.7185 11.6463 10.6601 11.9607 10.6162C12.1361 10.5943 12.2385 10.4992 12.3043 10.3384C12.487 9.89245 12.6844 9.46112 12.9184 9.05172ZM2.91741 23.0662C3.049 23.0516 3.18059 23.0443 3.31218 23.015C4.19677 22.8469 4.9059 22.3352 5.54193 21.7503C6.60928 20.7707 7.50118 19.6375 8.26149 18.402C8.32728 18.2997 8.31266 18.2485 8.23956 18.1535C7.48656 17.2908 6.74087 16.4282 6.0025 15.5655C5.90015 15.4485 5.84167 15.4485 5.73932 15.5582C5.32261 15.9822 4.91321 16.4062 4.51844 16.8522C3.65578 17.8464 2.86624 18.8845 2.30332 20.0835C1.99627 20.7487 1.76964 21.4286 1.89392 22.1816C1.98165 22.7884 2.30332 23.0662 2.91741 23.0662ZM23.4237 15.931C23.4164 16.494 23.5188 16.5597 23.9355 16.377C24.3814 16.1869 24.747 15.8799 25.0979 15.5509C26.1141 14.6005 27.0571 13.577 27.9783 12.5389C28.49 11.9614 29.0164 11.3984 29.4185 10.7405C29.6963 10.2872 29.5135 9.99479 28.9725 9.99479C28.8994 9.99479 28.8336 10.0021 28.7605 10.0167C28.2999 10.0825 27.8759 10.2799 27.4885 10.5285C26.041 11.4569 24.8786 12.6705 24.0525 14.1765C23.7308 14.7467 23.4603 15.3535 23.4237 15.931ZM11.5586 11.8956C11.0176 12.0198 10.5278 12.1222 10.0599 12.2903C8.83172 12.7363 7.89596 13.6063 6.92364 14.4324C6.83591 14.5055 6.85784 14.542 6.91633 14.6151C7.5816 15.39 8.23225 16.165 8.89751 16.9399C8.98524 17.0423 9.05104 17.1373 9.15339 16.9326C9.58471 16.0115 10.038 15.1049 10.4766 14.1911C10.8275 13.4454 11.1784 12.6924 11.5586 11.8956ZM23.9428 5.54262C25.0248 4.89928 25.9971 4.21939 26.8963 3.42984C27.196 3.16666 27.4812 2.88885 27.6932 2.54525C27.8101 2.34787 27.971 2.12124 27.8028 1.90923C27.642 1.69722 27.3788 1.78495 27.1595 1.83612C26.6185 1.97503 26.1506 2.26745 25.7266 2.61836C24.8274 3.38598 24.1694 4.29981 23.9428 5.54262Z"
      fill="white"></path>
    <path
      d="M30.6894 3.35117C31.7494 3.40234 32.6486 3.74594 33.2408 4.65977C33.928 5.71981 33.599 7.26967 32.5609 7.99342C32.3854 8.1177 32.1954 8.20543 31.9833 8.24198C31.7348 8.27854 31.5301 8.20543 31.3766 8.00073C31.223 7.79603 31.2084 7.57671 31.3035 7.35008C31.3766 7.17463 31.5155 7.05035 31.6471 6.91876C31.8444 6.72137 32.0564 6.52398 32.1954 6.27542C32.4658 5.78561 32.3781 5.35428 31.9322 5.01068C31.5374 4.71094 31.0695 4.60859 30.587 4.57935C30.4189 4.57204 30.2507 4.57204 30.0826 4.5428C29.8121 4.49894 29.6147 4.28693 29.5928 4.05299C29.5708 3.7898 29.7097 3.57049 29.9875 3.46814C30.068 3.43889 30.1557 3.40965 30.2434 3.40234C30.4042 3.3731 30.5578 3.36579 30.6894 3.35117Z"
      fill="url(#paint0_linear_66_19)"></path>
    <defs>
      <linearGradient
        id="paint0_linear_66_19"
        x1="29.5905"
        y1="3.35117"
        x2="34.5574"
        y2="4.65095"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FFC16F"></stop>
        <stop offset="1" stop-color="#FA86CE"></stop>
      </linearGradient>
    </defs>
  </svg>

  <!-- Navigation Section -->
  <nav class="navbar" data-status="close" aria-hidden="true">
    <ul class="list">
      <li class="list-item">
        <a href="/">Inicio</a>
      </li>
      <li class="dots">&#183;</li>
      <li class="list-item">
        <a href="/#proyecto">Proyectos</a>
      </li>
      <li class="dots">&#183;</li>
      <li class="list-item">
        <a href="/about-me">Sobre mí</a>
      </li>
      <li class="dots">&#183;</li>
      <li>
        <!-- TODO: Here it goes the toggle button for the lang -->
      </li>
    </ul>
  </nav>

  <div class="burger" data-status="close">
    <span class="bars bar-top"></span>
    <span class="bars bar-middle"></span>
    <span class="bars bar-bottom"></span>
  </div>
</header>

<!----------- Style to the navbar comp ----------->
<style lang="scss">
  :root {
    --color-bg: hsla(0deg 0% 0% 0.5);
    --color-menu: hsla(0deg 0 100%);
    --color-menu-open: hsla(0deg 0% 0% / 80%);
  }

  .nav-container {
    position: relative;
    z-index: 10;

    display: flex;

    justify-content: space-between;
    inline-size: auto;
    padding-inline: 1.5rem;
    padding-block: 2rem;

    transition: transform 0.3s ease-in-out;
  }

  .navbar {
    position: absolute;

    z-index: 1;

    display: flex;
    justify-content: flex-end;
    padding-inline-end: 2rem;

    background-color: hsla(0deg 0 3% / 80%);
    transform: translateY(-300%);
    opacity: 1;

    transition:
      transform 300ms ease-in-out,
      opacity 300ms ease-in-out;
    inset: 0;
    inline-size: 100%;
    block-size: 100svh;
    padding-block-start: 7rem;

    &[data-status='open'] {
      background-color: var(--color-menu-open);
      transform: translateY(0);
      opacity: 100;
      backdrop-filter: blur(0.1rem);
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    font-size: 1.7rem;
    line-height: 2.5rem;
  }

  .dots {
    display: none;
  }

  .logo {
    z-index: 10;
  }

  .burger {
    position: relative;
    inset-block-start: 0.3rem;

    z-index: 2;

    inline-size: 2rem;
    block-size: 2.8125rem;

    transform: rotate(0deg);
    cursor: pointer;

    transition:
      transform 0.25s ease-in-out,
      opacity 0.25s ease-in-out,
      inset 0.25s ease-in-out;
  }

  .bars {
    position: absolute;
    inset-inline-start: 0;

    display: block;
    inline-size: 100%;
    block-size: 0.3rem;

    border-radius: 0.5625rem;

    background: var(--color-menu);
    transform: rotate(0deg);
    opacity: 1;

    transition:
      transform 0.25s ease-in-out,
      opacity 0.25s ease-in-out,
      inset 0.25s ease-in-out;
  }

  .bar-middle {
    inset-block-start: 0.65rem;
  }

  .bar-bottom {
    inset-block-start: 1.25rem;
  }

  .burger[data-status='open'] {
    .bar-top {
      inset-block-start: 1.125rem;

      transform: rotate(135deg);
    }

    .bar-middle {
      inset-inline-start: -3.75rem;

      opacity: 0;
    }

    .bar-bottom {
      inset-block-start: 1.125rem;

      transform: rotate(-135deg);
    }
  }

  @media (width >= 50rem) {
    span,
    .burger {
      display: none;
    }
  }

  @media (width >= 50rem) {
    .nav-container {
      position: fixed;

      display: flex;
      gap: 1.5rem;
      padding: 0.7rem 1.5rem;

      align-items: center;
      border: 0.2px solid hsla(234deg 15% 37% / 100%);

      border-radius: 2rem;

      background-color: rgba(10, 10, 10, 0.5);
      backdrop-filter: blur(10px);
      inset-block-start: 1.2rem;
      inset-inline: 0;

      inline-size: fit-content;
      margin-inline: auto;
    }
  }

  @media (width >= 50rem) {
    .navbar {
      display: contents;
      border-radius: 0.5rem;

      background-color: var(--color-bg);
      padding: 0.75rem 1.5rem;
      transform: translateY(0);
      inset-inline-start: 28rem;
      inset: 0;
      padding-block-start: 1.6rem;
    }

    .list {
      display: flex;
      flex-direction: row;
      align-items: center;

      block-size: 2rem;

      list-style: none;
    }

    .list-item:hover,
    .list-item:active {
      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(255, 255, 255, 0.24) 0%,
        rgba(153, 153, 153, 0) 100%
      );

      color: white;
    }

    .list-item {
      padding-inline: 0.5rem;

      font-size: 1.2rem;
      text-decoration: none;
      font-size: 1rem;
      color: #b1b3d0;
    }

    .hide-navbar {
      transform: translateY(-200%);
    }

    .dots {
      display: flex;

      font-size: 2.5rem;
      color: #b1b3d0;
    }

    .burger {
      display: none;
    }
  }
</style>

{/*----------- function to the navbar comp -----------*/}
<script is:inline>
  const navBar = document.querySelector('.navbar');
  const burgerMenu = document.querySelector('.burger');
  const dataStatus = 'data-status';

  // Animation to the three spans, if get touch, will be a X
  burgerMenu.addEventListener('click', () => {
    const isOpen = navBar.getAttribute(dataStatus) === 'open';

    if (isOpen) {
      document.querySelector('body').style.removeProperty('overflow-y');
      navBar.setAttribute(dataStatus, 'close');
      burgerMenu.setAttribute(dataStatus, 'close');
    } else {
      document.querySelector('body').style.overflowY = 'hidden';
      navBar.setAttribute(dataStatus, 'open');
      burgerMenu.setAttribute(dataStatus, 'open');
    }
  });

  let lastScrollPosition = 0;

  window.addEventListener('scroll', () => {
    let currentScroll = window.scrollY;

    if (currentScroll - lastScrollPosition > 0) {
      // The scroll direction goin to hide the navbar on desktop
      document.querySelector('.nav-container').classList.add('hide-navbar');
    } else {
      // The scroll direction goin to show the navbar on desktop
      document.querySelector('.nav-container').classList.remove('hide-navbar');
    }
    // Set the last scroll position to the current scroll position
    lastScrollPosition = currentScroll;
  });
</script>
