---
import { Button, IconCatalog } from '@components';
---

<article>
  <div class="container | even-columns">
    <div class="title-container">
      <h3>Diseño, testeo, liderazgo,<span> programacion,</span> estrategia</h3>
      <p class="text-content">
        En cada proyecto, mi objetivo es armonizar la estética, la funcionalidad y la eficiencia
        para entregar soluciones que no solo satisfacen necesidades del usuario, sino que haya un
        aporte de valor que tiene para el negocio
      </p>
      <a href="/about-me"
        ><Button invert afterIcon={IconCatalog.arrowDownTray}>Saber más de mi</Button></a
      >
    </div>
    <img class="svg-container" src="/svg/interface-description.svg" alt="" />
  </div>
</article>

<style>
  article {
    margin-block-end: 1rem;
  }

  .container {
    justify-content: space-between;

    border: 1px solid hsl(0deg 0% 16%);
    border-radius: 1.5rem;

    background: hsl(240deg 4% 5%);
    padding: 1.5rem;

    inline-size: 90%;
    max-inline-size: 81rem;
    margin-inline: auto;
  }

  .title-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 2rem;
  }

  .text-content {
    text-align: center;
    color: hsl(236deg 18% 54%);


    color: #b1b3d0;
    text-align: center;
    font-weight: 400;
    font-size: 1.25rem;
    font-style: normal;
    line-height: 150%;
  }

  h3 {
    color: hsl(0deg 0% 100%);
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2.5rem;
    text-align: center;
  }

  span {
    position: relative;

    display: inline-block;

    color: hsl(0deg 0% 24%);
  }

  span::before {
    position: absolute;

    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    border-radius: 2rem;

    color: hsl(0deg 0% 100%);
    font-size: 0.7rem;
    text-wrap: nowrap;

    background-color: hsl(248deg 98% 66%);
    transform: rotate(-15deg);

    content: 'En progreso';

    inset: 0;

    max-inline-size: 5.5rem;
    max-block-size: 1.5rem;
  }

  @media (width >= 992px) {
    article {
      margin-block-end: 2rem;
    }

    .container {
      padding-block-start: 3rem;
      padding-inline-start: 3.5rem;

      inline-size: 100%;
    }

    .title-container {
      width: 100%;
      align-items: start;
    }

    .text-content {
      text-align: left;
    }

    h3 {
      font-size: 2.5rem;
      text-align: left;
    }
  }
</style>
