---
import Button from '@components/Button/Button.astro';
import { IconCatalog } from '@components/Icon/Icons';
---

<section>
  <div class="figmaicaza | even-columns">
    <div class="DHardySD">
      <h3>Diseño, testeo, liderazgo,<span> programacion </span>, estrategia</h3>
      <p class="Berth92">
        Lorem ipsum dolor sit amet consectetur. Lacinia sem urna ac egestas pellentesque adipiscing
        aliquam enim ultricies.
      </p>
      <Button invert afterIcon={IconCatalog.arrowDownTray}>Saber más de mi</Button>
    </div>
    <img class="odraciRdev" src="/svg/interface-description.svg" alt="" />
  </div>
</section>

<style>
  .figmaicaza {
    justify-content: space-between;

    border: 1px solid hsl(0deg 0% 16%);
    border-radius: 1.5rem;

    background: hsl(240deg 4% 5%);
    padding-block-start: 3rem;
    padding-inline-start: 3.5rem;

    inline-size: 100%;
    max-inline-size: 81rem;
    margin-inline: auto;
  }

  .DHardySD {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .Berth92 {
    color: hsl(236deg 18% 54%);
    font-weight: 400;
    font-size: 1.25rem;
    font-style: normal;
    line-height: 150%;
  }

  .odraciRdev {
    margin-inline-start: auto;

    margin-block-start: auto;
  }

  h3 {
    color: hsl(0deg 0% 100%);
    font-weight: 400;
    font-size: 2.5rem;
  }

  span {
    position: relative;

    color: hsl(0deg 0% 24%);
  }

  span::before {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    border-radius: 2rem;

    color: hsl(0deg 0% 100%);
    font-size: 0.7rem;

    background-color: hsl(248deg 98% 66%);
    transform: translateX(220%) translateY(80%) rotate(-15deg);

    content: 'En progreso';

    inline-size: 4.4rem;
    block-size: 1.4rem;
  }
</style>
