---
import { CardWrapper } from '@components';
import { t } from 'i18n:astro';
---

<section>
  <div class="container">
    <!-- Identified Issues Section -->
    <div class="cards-container">
      <div class="even-columns">
        <!-- Card: Identified Issues -->
        <CardWrapper class="card | flow">
          <h2 class="card-title">{t('latam_process_issues_title')}</h2>
          <p class="card-description">{t('latam_process_issues_desc')}</p>
        </CardWrapper>

        <!-- Image: Explaining wireframes -->
        <img
          src="/assets/images/latam-airways-process-1.png"
          alt="Pantalla de selección de vuelo de LATAM Airlines con observaciones de UX y comentarios de usuarios"
        />
      </div>
    </div>

    <!-- Benchmarks Section -->
    <div class="benchmark-user-container">
      <div class="process-text-container | flow">
        <div class="flow">
          <img src="/assets/images/gpt-logo.png" alt="gpt-logo" />
          <h3>{t('latam_process_benchmark_title')}</h3>
        </div>
        <p>{t('latam_process_benchmark_desc')}</p>
        <!-- Image: Benchmarks comparison -->
        <img
          src="/assets/images/latam-airways-process-2.png"
          alt="Tabla de comparación de problemas identificados en el proceso de compra de boletos entre varias aerolíneas y servicios"
        />
      </div>

      <!-- User Personas Section -->
      <div class="process-text-container | flow">
        <div class="flow">
          <img src="/assets/images/gpt-logo.png" alt="GPT LOGO" />
          <h3>User personas</h3>
        </div>
        <p>{t('latam_process_user_persona_desc')}</p>
        <img
          src="/assets/images/latam-airways-process-3.png"
          alt="Perfiles de usuario: Alex Santos, Viajero Frecuente; Laura Rios, Viajera Ocasional; Javier Castillo, Viajero con Limitaciones. Generados con ayuda de ChatGPT para empatizar con distintos perfiles de clientes y diferenciarse de los competidores."
        />
      </div>
    </div>

    <!-- Entrevistas con Usuario Section -->
    <div class="cards-container">
      <div class="grid-auto-fit">
        <!-- Card: Testing Description -->
        <CardWrapper class="card | flow">
          <div class="card-text-container">
            <h2 class="card-title">{t('latam_process_user_interview_title')}</h2>
            <img
              src="/assets/images/latam-airways-process-4.png"
              alt="Logotipo de Synthetic Users"
            />
          </div>
          <p class="card-description" set:html={t('latam_process_user_interview_desc_1')} />
          <p>{t('latam_process_user_interview_desc_2')}</p>
        </CardWrapper>

        <!-- Image: User interviews conducted -->
        <img
          src="/assets/images/latam-airways-process-5.png"
          alt="Resultados de entrevistas de usuario: 3 entrevistas realizadas, calificación de la solución 4 de 5. Comentarios de usuarios sobre la falta de opciones personalizadas, dificultad para encontrar horarios de llegada claros y sentirse ignorados durante el proceso de reserva."
        />
      </div>
    </div>

    <!-- Definition Section -->
    <div class="process-text-container | flow">
      <div class="flow">
        <h3 class="process-text-container__title">{t('latam_process_definition_title')}</h3>
      </div>
      <p>{t('latam_process_definition_desc')}</p>
      <!-- Image: Simulation of prioritization -->
      <img
        src="/assets/images/latam-airways-process-6.png"
        alt="Matriz de definición de mejoras del MVP 1, clasificando las mejoras por valor para el usuario y factibilidad, incluyendo opciones como claridad en los horarios de llegada y recomendaciones personalizadas"
      />
    </div>
  </div>
</section>

<style>
  section .container {
    display: grid;
    margin-block-start: 3rem;
    padding-inline: 2rem;
    gap: 2rem;
  }

  .cards-container {
    display: grid;
    gap: 2rem;

    .even-columns {
      gap: 2rem;
    }
  }

  .cards-container.grid-auto-fit {
    --min-item-width: 23.8987rem;

    img {
      block-size: 100%;
    }
  }

  .card {
    --flow-spacer: 1.4375rem;

    background-color: hsla(240, 4%, 5%, 1);
    padding: 3.5rem 1.5rem 2.25rem 1.5rem;
    text-align: center;
    margin-inline: auto;

    h2 {
      font-size: 2rem;
      line-height: 1.5;
      font-weight: 700;
    }

    p {
      line-height: 24px;
      letter-spacing: -1%;
      color: hsla(236, 25%, 75%, 1);
    }
  }

  .card-text-container {
    display: grid;
    gap: 1.4375rem;

    img {
      margin-inline: auto;
    }
  }

  .card-description {
    line-height: 24px;
    letter-spacing: -1%;

    span {
      color: #fff;
    }
  }

  .benchmark-user-container {
    margin-block-start: 10.25rem;
    display: grid;
    gap: 3rem;
  }
  .process-text-container {
    .flow {
      --flow-spacer: 1.5rem;

      img {
        max-inline-size: 5.75rem;
        margin-inline: auto;
      }

      h3 {
        font-size: 2.25rem;
        font-weight: 500;
        line-height: 1.3;
        text-align: center;
      }
    }

    p {
      line-height: 1.5;
      text-align: center;
      color: hsla(236, 25%, 75%, 1);
    }

    img:last-child {
      inline-size: 100%;
      max-inline-size: 62.4375rem;
      margin-inline: auto;
      margin-block-start: 1.5rem;
    }
  }

  @media (min-width: 48em) {
    section .container {
      margin-block-start: 4rem;
    }

    .cards-container .even-columns {
      grid-template-columns: 0.6fr 1fr;
    }

    .cards-container .grid-auto-fit {
      --min-item-with: 400px;
      gap: 4.4375rem;
      align-items: center;
    }

    .benchmark-user-container {
      margin-block-start: 4rem;
      gap: 4rem;
    }

    .process-text-container {
      --flow-spacer: 1.5rem;

      .flow h3 {
        font-size: 4rem;
      }

      p {
        max-inline-size: 80ch;
        margin-inline: auto;
        font-size: 1.25rem;
      }

      img {
        max-inline-size: 62.4375rem;
      }
    }
    .process-text-container .flow {
      --flow-spacer: 0;

      display: flex;
      gap: 1.5rem;
      justify-content: center;
      align-items: center;

      img {
        margin-inline: unset;
      }
    }

    .card {
      text-align: start;
    }

    .card-text-container {
      display: flex;
      align-items: center;

      flex-wrap: wrap;
      h2 {
        max-inline-size: 15ch;
      }
    }
  }

  @media (min-width: 75em) {
    .cards-container .grid-auto-fit {
      grid-template-columns: 1fr 0.9fr;
    }
  }
</style>
