.grid-auto-fit {
  --min-item-width: 20rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(var(--min-item-width), 100%), 1fr));
	gap: var(--grid-gap, 1rem);
}



.grid-auto-fit.mx-auto {
  justify-items: center;
}
