---
import { t } from 'i18n:astro';
import MainLogo from './MainLogo.astro';
import ToolsLogos from './ToolsLogos.astro';

const OFFSET_Y = 1.2;
---

<div class="container">
  <MainLogo />
  <ToolsLogos />

  <div class="tools">
    <h2 class="tools-title">{t('about_tools_title')}</h2>
    <svg id="tools-desktop" width="1300" height="741" viewBox="0 0 1300 741" fill="none">
      <g id="lines">
        <path
          d="M2 193.413H242.277V314.174H496.248V346.543H578.415"
          stroke="#282828"
          class="line-dash"
          stroke-width="2.48991"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-dasharray="8.71 8.71"></path>
        <path
          d="M2 439.914H239.568V373.932H578.415"
          stroke="#282828"
          class="line-dash"
          stroke-width="2.48991"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-dasharray="8.71 8.71"></path>
        <path
          d="M2 621.678H309.672V461.079H499.299V408.791H578.415"
          stroke="#282828"
          class="line-dash"
          stroke-width="2.48991"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-dasharray="8.71 8.71"></path>
        <path
          d="M1298 617.943H986.761V457.344C928.455 459.626 811.844 457.344 811.844 457.344C811.844 457.344 811.844 422.693 811.844 408.791H720.34"
          stroke="#282828"
          class="line-dash"
          stroke-width="2.48991"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-dasharray="8.71 8.71"></path>
        <path
          d="M1298 525.816H1063.8V373.932H719.095"
          stroke="#282828"
          class="line-dash"
          stroke-width="2.48991"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-dasharray="8.71 8.71"></path>
        <path
          d="M1297.38 192.791H1053.37V308.572H805.62V346.543H714.115"
          stroke="#282828"
          class="line-dash"
          stroke-width="2.48991"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-dasharray="8.71 8.71"></path>
      </g>
      <g id="logos">
        <g class="group">
          <use x="38.7552" y="144.889" width="113" height="113" href="#useberry"></use>
          <text x="59.7552" y={144.889 + 113 * OFFSET_Y} fill="white">Useberry</text>
        </g>
        <g class="group">
          <use x="258.931" y="333.941" width="82" height="82" href="#notion"></use>
          <text x="274.931" y={333.941 + 85 * OFFSET_Y} fill="white">Notion</text>
        </g>
        <g class="group">
          <use x="115.913" y="578.105" width="108" height="108" href="#figma"></use>
          <text x="145.913" y={578.105 + 108 * OFFSET_Y} fill="white">Figma</text>
        </g>
        <g class="group">
          <use x="400.849" y="270.441" width="81" height="81" href="#miro"></use>
          <text x="422.849" y={270.441 + 85 * OFFSET_Y} fill="white">Miro</text>
        </g>
        <g class="group">
          <use x="855.259" y="335.179" width="81" height="81" href="#maze"></use>
          <text x="873.259" y={335.179 + 85 * OFFSET_Y} fill="white">Maze</text>
        </g>
        <g class="group">
          <use x="1136.78" y="156.064" width="108" height="108" href="#whimsical"></use>
          <text x="1150.78" y={156.064 + 108 * OFFSET_Y} fill="white">Whimsical</text>
        </g>
        <g class="group">
          <use x="1181.44" y="497.031" width="82" height="82" href="#hotjar"></use>
          <text x="1198.44" y={497.031 + 86 * OFFSET_Y} fill="white">Hotjar</text>
        </g>
        <g class="group">
          <use x="1017.26" y="578.105" width="108" height="108" href="#adobe-xd"></use>
          <text x="1032.26" y={578.105 + 108 * OFFSET_Y} fill="white">Adobe XD</text>
        </g>
      </g>
      <g id="main-logo">
        <a href="/">
          <use x="515.74" y="250.64" width="254" height="254" href="#logo-ana"></use>
        </a>
      </g>
    </svg>
    <svg id="tools-mobile">
      <polyline
        class="line-dash"
        points="62,890 62,270 138,270 138,200"
        fill="none"
        stroke="#282828"
        stroke-width="2.48991"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-dasharray="8.71 8.71"></polyline>
      <polyline
        class="line-dash"
        points="256,890 256,270 180,270 180,200"
        fill="none"
        stroke="#282828"
        stroke-width="2.48991"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-dasharray="8.71 8.71"></polyline>
      <g id="logos">
        <g class="group">
          <use x="7" y="300" width="113" height="113" href="#useberry"></use>
          <text x="27" y="435" fill="white">Useberry</text>
        </g>
        <g class="group">
          <use x="7" y="480" width="113" height="113" href="#notion"></use>
          <text x="37" y="612" fill="white">Notion</text>
        </g>
        <g class="group">
          <use x="7" y="655" width="113" height="113" href="#figma"></use>
          <text x="39" y="788" fill="white">Figma</text>
        </g>
        <g class="group">
          <use x="7" y="830" width="113" height="113" href="#miro"></use>
          <text x="44" y="965" fill="white">Miro</text>
        </g>
        <g class="group">
          <use x="195" y="300" width="113" height="113" href="#maze"></use>
          <text x="232" y="435" fill="white">Maze</text>
        </g>
        <g class="group">
          <use x="195" y="480" width="113" height="113" href="#whimsical"></use>
          <text x="212" y="612" fill="white">Whimsical</text>
        </g>
        <g class="group">
          <use x="195" y="655" width="113" height="113" href="#hotjar"></use>
          <text x="230" y="788" fill="white">Hotjar</text>
        </g>
        <g class="group">
          <use x="195" y="830" width="113" height="113" href="#adobe-xd"></use>
          <text x="209" y="965" fill="white">Adobe XD</text>
        </g>
      </g>
      <g id="main-logo">
        <a href="/">
          <use x="33" y="15" width="254" height="254" href="#logo-ana"></use>
        </a>
      </g>
    </svg>
  </div>
</div>

<style>
  .container {
    padding-inline: 1rem;
  }
  .tools {
    background: #0d0d0e;
    border: 1px solid #282828;
    border-radius: 1.5rem;
    position: relative;
    padding-block: 20px;
    margin-top: 3rem;

    cursor: url('/svg/cursor.svg'), auto;

    @media (width >= 1536px) {
      margin-inline: 0;
    }
  }

  #tools-desktop {
    display: none;

    @media (width >= 768px) {
      display: initial;
    }
  }

  #tools-mobile {
    width: 315px;
    margin-inline: auto;
    min-height: 1000px;

    @media (width >= 768px) {
      display: none;
    }
  }

  .line-dash {
    animation: dash 30s linear infinite forwards;
  }

  .tools-title {
    max-width: 460px;
    margin-inline: auto;
    font-weight: 500;
    text-align: center;
    padding-inline: 10px;
    color: white;

    @media (width >= 1200px) {
      position: absolute;
      top: 0;
      left: 50%;
      translate: -50% 56px;
    }
  }

  .group {
    @media (any-hover: hover) {
      &:hover text {
        opacity: 1;
      }
      & text {
        opacity: 0;
        transition: opacity 300ms ease;
      }

      & text {
        opacity: 0;
        transition: opacity 300ms ease;
      }
    }
  }

  #background-logo {
    fill: url(#Gradient1);
    scale: 1.1;
    transform-origin: center;
    filter: blur(12px);
  }

  .tools a {
    cursor: url('/svg/pointer.svg'), auto;
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: 8;
    }
    100% {
      stroke-dashoffset: -1000;
    }
  }
</style>
