---
import { Aurora, Button, ButtonDownloadCv } from '@components';
---

<div class="contact-container">
  <section class="container">
    <div class:list={['contact', { 'no-home': Astro.url.pathname !== '/' }]}>
      <div class="content">
        <h2 class="title">¿Listo para dar vida a tus ideas?</h2>
        <p class="description">
          Haz clic abajo para conversar conmigo o echa un vistazo a mi CV, para ver cómo puedo
          impulsar tu proyecto o formar parte de tu equipo
        </p>
      </div>
      <div class="actions">
        <Button tag="anchor" href="https://calendly.com/rangelana1221/30min">Contáctame</Button>
        <ButtonDownloadCv id="btn-contact-download" />
      </div>
    </div>
  </section>
  {Astro.url.pathname !== '/' && <Aurora />}
</div>

<style>
  .contact-container {
    position: relative;
  }

  .container {
    padding-inline: 1rem;
  }

  .contact {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 10rem 0;
  }

  .contact.no-home {
    padding: 5.5rem 0;
  }

  .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title {
    font-family: Inter;
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    color: white;
  }
  .description {
    font-family: Inter;
    font-size: 32px;
    font-weight: 300;
    line-height: 48px;
    color: white;
  }

  .actions {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin: 0 auto;
  }

  @media (max-width: 48em) {
    .contact {
      height: 512px;
      width: 90%;
      padding: 56px 0px 56px 0px;
      gap: 36px;
    }
    .title {
      font-size: 2rem;
      line-height: 3rem;
    }
    .description {
      font-size: 1.25rem;
      font-weight: 300;
      line-height: 1.875rem;
    }

    .actions {
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
    }
  }
</style>
