---
import { GradientBackground } from '@components';
import { GradientColor } from 'components/GradientBackground/GradientBackground.astro';
import Layout from '../../layouts/Layout.astro';
import BasicInfo from './_Sections/BasicInfo/BasicInfo.astro';
import Testimonials from './_Sections/Testimonials/Testimonials.astro';
---

<Layout title="Sobre mí • Ana Rangel">
  <main>
    <GradientBackground color={GradientColor.purple} />
    <BasicInfo />
  </main>
  <Testimonials />
</Layout>
