---
import { GradientBackground } from '@components';
import Contact from '/Users/anarangel/Projects/anarangel.github.io/src/pages/_Sections/Contact/Contact.astro';
import { GradientColor } from 'components/GradientBackground/GradientBackground.astro';
import Layout from '../../layouts/Layout.astro';
import BasicInfo from './_Sections/BasicInfo/BasicInfo.astro';
import Hobbies from './_Sections/Hobies/Hobbies.astro';
import Testimonials from './_Sections/Testimonials/Testimonials.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <GradientBackground color={GradientColor.purple} />
    <BasicInfo />
    <Hobbies />
  </main>
  <Testimonials />
  <Contact />
</Layout>

<style>
  main {
    padding-block-start: 4rem;
    max-width: 1280px;
    margin: 0 auto;
  }
</style>
