---
import { GradientBackground } from '@components';
import Contact from '../_Sections/Contact/Contact.astro';
import { GradientColor } from '../../components/GradientBackground/GradientBackground.astro';
import Layout from '../../layouts/Layout.astro';
import BasicInfo from './_Sections/BasicInfo/BasicInfo.astro';
import Hobbies from './_Sections/Hobies/Hobbies.astro';
import Testimonials from './_Sections/Testimonials/Testimonials.astro';
import Tools from './_Sections/Tools/Tools.astro';
---

<Layout title="Sobre mí • Ana Rangel">
  <main>
    <GradientBackground color={GradientColor.purple} />
    <BasicInfo />
    <Tools />
    <Hobbies />

    <Testimonials />
    <Contact />
  </main>
</Layout>

<style>
  main {
    padding-block-start: 4rem;
    overflow: hidden;
  }
</style>
