---
import { Button, ButtonDownloadCv } from '@components';
import { t } from 'i18n:astro';
---

<section>
  <div class="container">
    <div class="hero-headline | flow">
      <h1>{t('hero_title')}</h1>
      <p class="hero-description">
        <Fragment set:html={t('hero_subtitle')} />
      </p>
    </div>
    <div class="hero-actions | flow">
      <p class="role-list">Product Designer | UX Engineer | UX Designer</p>
      <div class="btn-contanier">
        <div class="btn-group">
          <Button tag="anchor" href="https://calendly.com/rangelana1221/30min" isFullWidth>
            {t('contact_button')}
          </Button>
          <ButtonDownloadCv id="btn-hero-download" />
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  section {
    padding-block: 4rem;
    position: relative;
    top: -4rem;
    z-index: 1;
  }
  h1 {
    font-size: 2.25rem;
    text-align: center;
    font-weight: 600;
  }

  .hero-description {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
    text-align: center;
  }

  .role-list {
    font-size: 1.25rem;
    line-height: 2rem;
    padding-bottom: 1.5rem;
  }

  section .btn-group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    inline-size: 100%;

    @media (width >= 48rem) {
      inline-size: fit-content;
    }
  }

  @media (width >= 992px) {
    section {
      padding: 15rem 0 0rem 0;
    }

    section .btn-group {
      flex-direction: row;
    }
    h1 {
      color: hsl(0deg 0% 100%);
      font-weight: 700;
      font-size: 4rem;
      margin-inline: auto;
    }

    .hero-description {
      color: hsl(0deg 0% 100%);
      font-weight: 500;
      font-size: 2.25rem;
      margin-inline: auto;

      text-align: center;
    }
  }

  svg {
    stroke-width: 1.5;
    block-size: 1.5rem;
    inline-size: 1.5rem;

    transition: stroke-width 300ms var(--ease-spring-3);
  }

  .btn-group {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }

  .hero-headline.flow {
    --flow-spacer: 0.5rem;
    color: white;

    @media (width >= 992px) {
      --duration: 11s;
      --drop-shadow-color: #0b1f6f;

      position: relative;
      max-width: 90%;
      margin-inline: auto;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 154px;
        height: 157px;
        background-image: url('/svg/notion-maze.svg');
        animation: float var(--duration) linear infinite;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 139px;
        height: 163px;
        background-image: url('/svg/figma-useberry.svg');
        animation: float var(--duration) linear infinite;
      }

      @keyframes float {
        0% {
          translate: 0px;
          filter: drop-shadow(1px 2px 1px var(--drop-shadow-color));
        }
        50% {
          translate: 0px 20px;
          filter: drop-shadow(2px 4px 8px var(--drop-shadow-color));
        }
        100% {
          translate: 0px;
          filter: drop-shadow(1px 2px 1px var(--drop-shadow-color));
        }
      }
    }

    @media (width >= 1536px) {
      max-width: 80%;
    }
  }

  .hero-actions {
    --flow-spacer: var(--size-5);
    margin-inline: auto;
    margin-block-start: var(--size-8);

    text-align: center;
  }

  .role-list {
    color: hsl(250deg 10% 63%);
    font-weight: 500;
    font-size: var(--size-4);

    margin-inline: auto;
  }

  .btn-contanier {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
  }

  .btn {
    inline-size: 10.75rem;

    border-radius: 2.25rem;

    font-size: 1rem;
    padding-block: 0.75rem;
    padding-inline: 1rem;
  }

  .btn-primary {
    border: none;

    background-image: linear-gradient(to right, hsl(317deg 90% 74%), hsl(258deg 92% 70%));
  }

  .btn-secondary {
    position: relative;

    border: none;

    color: hsl(0deg 0% 100%);

    background: none;

    &::before {
      position: absolute;

      padding: 0.125rem;
      border-radius: 3.125rem;

      background: linear-gradient(to right, hsl(271deg 91% 65%), hsl(330deg 81% 60%));

      content: '';
      inset: 0;
      mask:
        linear-gradient(hsl(0deg 0% 100%) 0 0) content-box,
        linear-gradient(hsl(0deg 0% 100%) 0 0);
      mask-composite: exclude;
    }
  }
</style>
