html {
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scroll-padding-top: 4rem;
}

body {
	font-family: Inter, sans-serif;
	color: hsl(0, 0%, 100%);
	background-color: hsl(0deg 0% 4%);
	font-size: var(--font-size-base);
}
