html {
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scroll-padding-top: 4rem;
}

body {
	font-family: Inter, sans-serif;
	color: hsl(0, 0%, 100%);
	background-color: hsl(0deg 0% 4%);
	font-size: var(--font-size-base);
}

.highlighted-role {
  color: transparent;

  background-image: linear-gradient(to right, hsl(317deg 90% 74%), hsl(258deg 92% 70%));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
