:root {
	/* Primary Color */
--color-primary-50: hsl(316deg 73% 97%);
--color-primary-100: hsl(314deg 78% 95%);
--color-primary-200: hsl(314deg 88% 90%);
--color-primary-300:hsl(316deg 91% 82%) ;
--color-primary-400: hsl(317deg 89% 74%);
--color-primary-500:hsl(318deg 85% 60%) ;
--color-primary-600: hsl(321deg 75% 51%);
--color-primary-700: hsl(323deg 81% 42%);
--color-primary-800:hsl(324deg 78% 35%) ;
--color-primary-900: hsl(324deg 72% 30%);
--color-primary-950: hsl(324deg 89% 17%);

/* Secondary Color */
--color-secondary-50: hsl(250deg 100% 98%);
--color-secondary-100: hsl(251deg 91% 95%);
--color-secondary-200: hsl(251deg 100% 92%);
--color-secondary-300:hsl(251deg 97% 85%) ;
--color-secondary-400: hsl(255deg 95% 76%);
--color-secondary-500:hsl(258deg 92% 70%);
--color-secondary-600: hsl(262deg 86% 58%);
--color-secondary-700: hsl(263deg 72% 50%);
--color-secondary-800:hsl(263deg 71% 42%) ;
--color-secondary-900: hsl(263deg 70% 35%);
--color-secondary-950: hsl(261deg 74% 23%);
}